/*
@autor: Rodrigo Martins;
@date: Feb/2019;
*/

/* Estilos gerais */

/* Cores:
https://flatuicolors.com/palette/defo
Sun Flower: #f1c40f;
Amethyst: #9b59b6;
Clouds: #ecf0f1;
*/

body{
	font-family: 'Krub', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
	font-family: 'Nanum Myeongjo', serif;
}

img{
	display: block;
	max-width: 100%; /* Torna as imagens fluidas e adaptáveis;*/
}

/* Classes auxiliares para imagens */

.classe-auxiliar-imagens{
	margin-top: 20px;
}

.classe-auxiliar-imagens2{
	margin-top: 30px;
}


/* Botões */

.btn{
	color: #000;
	border: 3px solid #000;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
	padding: 10px 40px;

	transition: color .5s, padding .5s, background .8s ease;
}

.btn:hover{
	color: #f1c40f;
	background: #000;
	padding: 10px 45px;
}

.btn2{
	color: #fff;
	border: 3px solid #fff;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
	padding: 10px 40px;

	transition: color .5s, padding .5s, background .8s, border-color .8s ease;
}

.btn2:hover{
	color: #f1c40f;
	background: #000;
	border-color: #000;
	padding: 10px 45px;
}

/* Cabeçalho */

.cabecalho{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	background: #000;
	padding: 15px;
	z-index: 10;
}

.logo{
	margin-top: 10px;
}

.menu{
	text-align: right;
}

.menu ul li{
	display: inline-block;
	margin-left: 25px;
	margin-top: 22px;
}

.menu ul li a{
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;

	transition: color .5s ease;
}

.menu ul li a:hover{
	color: #f1c40f;
}

.menu ul li a.menu-ativo{
	color: #9b59b6; /* Menu ativo para as páginas internas. */
}

/* Introdução */

.intro{
	width: 100%;
	background: url("../img/foto-intro.jpg") no-repeat center;
	background-size: cover;
	margin-top: 75px;
	height: 380px;
	text-align: center;
	padding-top: 100px;

	transition: background 2.5s ease;
}

.intro h1{
	font-size: 32px;
	color: #000;
	font-weight: bold;
	margin-top: 80px;
}

/* Biografia */

.bio{
	height: 380px;
	text-align: center;
	padding-top: 80px;
}

.bio h2{
	font-family: 'Krub', sans-serif;
	font-size: 24px;
	margin-bottom: 40px; 
}

.bio p{
	margin-bottom: 60px;
}

.bio img{
	margin-left: auto;
	margin-right: auto;
	border-radius: 2%;

	transition: opacity 1.5s ease;
}

.bio img:hover{
	opacity: 0.6;
}

/* Encontra aqui */

.encontra-aqui{
	background: #000;
	height: 500px;
	text-align: center;
	padding-top: 65px;

	transition: background 1s ease;
}

.encontra-aqui:hover{
	background: #9b59b6;
}

.encontra-aqui h2{
	font-family: 'Krub', sans-serif;
	color: #fff;
	font-size: 24px;
	margin-bottom: 40px; 
}

.encontra-aqui img{
	width: 50%;
	margin-left: auto;
	margin-right: auto;

	transition: opacity 1.5s ease;
}

.encontra-aqui img:hover{
	opacity: 0.6;
}

.encontra-aqui p{
	color: #fff;
	padding-bottom: 60px;
}

.ajusta-img{
	margin-top: 35px;
}

/* Rodapé */
.rodape{
	width: 100%;
	height: 140px;
	background: #f1c40f;
	overflow: hidden;
	padding-top: 24px;
}

.rodape ul li a{
	color: #000;
	margin-top: 0;
	font-weight: bold;
	line-height: 30px;

	transition: color .5s ease;
}

.rodape ul li a:hover{
	color: #9b59b6;
}

.rodape address{
	color: #000;
	margin-top: 32px;
	text-align: center;
	font-weight: bold;
}

.logo-rodape{
	margin-top: 24px;
}

/* Página bio.html */

.bio-capa{
	width: 100%;
	background: url("../img/capa-bio.jpg") no-repeat center;
	background-size: cover;
	color: #fff;
	background-size: cover;
	margin-top: 75px;
	height: 220px;
	text-align: center;
	padding-top: 90px;

	transition: background 2.5s ease;
}

.bio-capa p{
	padding-bottom: 10px;
}

.bio-interna{
	margin-bottom: 40px;
}

.bio-interna h2{
	font-family: 'Krub', sans-serif;
	font-size: 24px;
	color: #000;
	font-weight: normal;
	line-height: 35px;
	margin: 40px 0;
	text-align: center;
}

.bio-interna p{
	font-family: 'Nanum Myeongjo', serif;
	text-align: justify;
	font-size: 1em;
	color: #000;
}

.bio-interna img{
	margin-left: auto;
	margin-right: auto;
	border-radius: 2%;
	
	transition: opacity 1.5s ease;
}

.bio-interna img:hover{
	opacity: 0.6;
}

.bio-quebra{
	color: #000;
	width: 100%;
	height: 180px;
	text-align: center;
	padding-top: 70px;

	transition: background 1s ease;
}

.bio-quebra:hover{
	background: #ecf0f1;
}

.bio-quebra p{
	padding-bottom: 10px;
}

.conheca-galeria{
	background: #000;
	width: 100%;
	height: 180px;
	text-align: center;

	transition: background 1s ease;
}

.conheca-galeria:hover{
	background: #9b59b6;
}

.conheca-galeria h2{
	font-family: 'Krub', sans-serif;
	font-size: 24px;
	color: #fff;
	font-weight: normal;
	line-height: 35px;
	margin: 35px 0 40px 0;
}

.conheca-galeria a{
	margin-bottom: 20px;
}

/* Página galeria.html */

/* Cores:
https://flatuicolors.com/palette/defo
Sun Flower: #f1c40f;
Amethyst: #9b59b6;
Clouds: #ecf0f1;
*/

.galeria-interna{
	width: 100%;
	background: url("../img/capa-galeria.jpg") no-repeat center;
	background-size: cover;
	color: #fff;
	margin-top: 75px;
	height: 220px;
	text-align: center;
	padding-top: 90px;

	transition: background 2.5s ease;
}

.visite{
	width: 100%;
	height: 80px;
	background: #000;

	transition: background 2s ease;
}

.visite:hover{
	background: #9b59b6;
}

.visite h2{
	font-family: 'Krub', sans-serif;
	font-size: 24px;
	color: #fff;
	font-weight: normal;
	line-height: 35px;
	text-align: center;
	padding-top: 22px;
}

.desenho{
	width: 50%;
	float: left;
	padding-left: 180px;
	margin-top: 0;
	height: 240px;
	text-align: center;
	padding-top: 50px;

	transition: background 1s ease;
}

.desenho:hover{
	background: #ecf0f1;
}

.desenho p{
	font-family: 'Krub', sans-serif;
	font-size: 14px;
	color: #000;
	padding-bottom: 35px;
}

.desenho h2{
	font-family: 'Krub', sans-serif;
	font-size: 24px;
	color: #000;
	font-weight: normal;
	line-height: 35px;
	padding-bottom: 10px;
}

.pintura{
	width: 50%;
	float: right;
	padding-right: 180px;
	margin-top: 0;
	height: 240px;
	text-align: center;
	padding-top: 50px;

	transition: background 1s ease;
}

.pintura:hover{
	background: #ecf0f1;
}

.pintura p{
	font-family: 'Krub', sans-serif;
	font-size: 14px;
	color: #000;
	padding-bottom: 35px;
}

.pintura h2{
	font-family: 'Krub', sans-serif;
	font-size: 24px;
	color: #000;
	font-weight: normal;
	line-height: 35px;
	padding-bottom: 10px;
}

.gravura{
	width: 100%;
	margin-top: 0;
	height: 240px;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 0;
	overflow: auto;

	transition: background 2s ease;
}

.gravura:hover{
	background: #ecf0f1;
}

.gravura p{
	font-family: 'Krub', sans-serif;
	font-size: 14px;
	color: #000;
	padding-bottom: 35px;
}

.gravura h2{
	font-family: 'Krub', sans-serif;
	font-size: 24px;
	color: #000;
	font-weight: normal;
	line-height: 35px;
	padding-bottom: 10px;
}

/* Página contato.html */

.contato-interna{
	width: 100%;
	background: url("../img/capa-contato.jpg") no-repeat center;
	background-size: cover;
	color: #fff;
	background-size: cover;
	margin-top: 75px;
	height: 220px;
	text-align: center;
	padding-top: 90px;

	transition: background 2.5s ease;
}

/* Adaptável */

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 959px){

	/* index.html */
	.encontra-aqui{
		height: 540px;
		padding-top: 70px;
	}

	.ajusta-img{
		margin-top: 85px;
	}

	/* bio.html */

	.classe-auxiliar-imagens{
		margin-top: 80px;
	}

	.classe-auxiliar-imagens2{
		margin-top: 60px;
	}

	/* galeria.html */

	.desenho p, .desenho h2, .desenho .btn{
		margin-right: 100px;
	}


	.pintura p, .pintura h2, .pintura .btn{
		margin-left: 100px;
	}

}

/* Smartphone */
@media only screen and (max-width: 767px){


}
