/*
@autor: Rodrigo Martins;
@date: Feb/2019;
*/

/* Estilos gerais */

/* Cores:
https://flatuicolors.com/palette/defo
Sun Flower: #f1c40f;
Amethyst: #9b59b6;
Silver: #bdc3c7;
*/

body{
	width: 100%;
	font-family: 'Krub', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Assistant', sans-serif;
}

p{
	font-family: 'Assistant', sans-serif;
}

img{
	display: block;
	max-width: 100%; /* Torna as imagens fluidas e adaptáveis;*/
}

.subtitulo:after {
	content: "";
	display: block;
	width: 70px;
	height: 2px;
	background: #000;
	margin: 8px auto;
}

.subtitulo2:after {
	content: "";
	display: block;
	width: 70px;
	height: 2px;
	background: #fff;
	margin: 8px auto;
}

/* Botões */
.btn{
	color: #000;
	border: 3px solid #000;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
	padding: 10px 40px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

	transition: box-shadow .5s, color .5s, padding .5s, background .5s ease-in;
}

.btn:hover{
	color: #f1c40f;
	background: #000;
	box-shadow: 2px 3px 4px rgba(0, 0, 0, .6);
	padding: 10px 45px;
}

.btn2{
	color: #fff;
	border: 3px solid #fff;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
	padding: 10px 40px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

	transition: box-shadow 0.5s, color .5s, padding .5s, background .5s, border-color .5s ease-in;
}

.btn2:hover{
	color: #f1c40f;
	background: #000;
	border-color: #000;
	padding: 10px 45px;
	box-shadow: 2px 3px 4px rgba(0, 0, 0, .6);
}

/* Cabeçalho */
.cabecalho{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	background: #000;
	padding: 15px 0;
	z-index: 10;
}

.logo{
	display: inline-block;
	margin-left: 180px;
	margin-top: 10px;
}

.menu{
	float: right;
	margin-right: 200px;
}

.menu ul li{
	clear: right;
	display: inline-block;
	margin-left: 25px;
	margin-top: 25px;
}

.menu ul li a{
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;

	transition: color .5s ease-in;
}

.menu ul li a:hover{
	color: #f1c40f;
}

.menu ul li a.menu-ativo{
	color: #9b59b6; /* Menu ativo para as páginas internas. */
}

label{
	display: none;
	float: right;
	margin-top: -35px;
	text-align: center;
	height: 30px;
	width: 30px;
	font-size: 21px;
}

#toggle{
	display: none;
}

/* index.html - Introdução */
.intro{
	width: 100%;
	background: url("../img/foto-intro.jpg") no-repeat center;
	background-size: cover;
	margin-top: 75px;
	height: 380px;
	text-align: center;
	padding-top: 85px;
}

.intro img{
	margin: 0 auto;
}

.intro h1{
	font-family: 'Krub', sans-serif;
	font-weight: bold;
	letter-spacing: .04em;
	font-size: 28px;
	margin-top: 25px;
}

/* Biografia */
.bio{
	height: 375px;
	text-align: center;
	padding-top: 60px;
}

.bio h2{
	font-family: 'Krub', sans-serif;
	font-size: 24px;
	letter-spacing: .02em;
	margin-bottom: 40px; 
}

.bio p{
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 60px;
	text-align: justify;
}

.bio img{
	margin-top: 15px;
	margin-left: 140px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	transition: all 1.2s;	
}

.bio img:hover{
	box-shadow: 3px 4px 4px rgba(0, 0, 0, .6);
}

/* Encontra aqui */
.encontra-aqui{
	background: #000;
	height: 575px;
	text-align: center;
	padding-top: 60px;

	transition: background 1s ease;
}

.encontra-aqui:hover{
	background: #9b59b6;
}

.encontra-aqui h2{
	font-family: 'Krub', sans-serif;
	color: #fff;
	font-size: 24px;
	letter-spacing: .02em;
	margin-bottom: 40px; 
}

.encontra-aqui img{
	width: 50%;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	transition: all 1.2s;
}

.encontra-aqui img:hover{
	box-shadow: 3px 4px 4px rgba(0, 0, 0, .6);
}

.encontra-aqui p{
	font-size: 18px;
	line-height: 25px;
	text-align: justify;
	color: #fff;
	padding-bottom: 60px;
}

.ajusta-img{
	margin-top: 70px;
}

/* Rodapé */
.rodape{
	width: 100%;
	height: 140px;
	background: #f1c40f;
	overflow: hidden;
	padding-top: 24px;
}

.rodape ul li a{
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .07em;
	font-size: 14px;
	margin-top: 0;
	line-height: 30px;

	transition: color .5s ease;
}

.rodape ul li a:hover{
	color: #9b59b6;
}

.rodape address{
	color: #000;
	font-size: 14px;
	margin-top: 35px;
	text-align: center;
	font-weight: bold;
}

.autoria{
	width: 100%;
	height: 30px;
	background: #000;
	color: #bdc3c7;
	font-size: 12px;
	text-align: center;
	padding-top: 7px;
}

/* Página bio.html */
.bio-capa{
	width: 100%;
	background: url("../img/capa-bio.jpg") no-repeat center;
	background-size: cover;
	color: #fff;
	background-size: cover;
	margin-top: 100px;
	height: 220px;
	text-align: center;
	padding-top: 90px;
}

.bio-capa p{
	padding-bottom: 10px;
}

.bio-interna{
	margin-bottom: 40px;
}

.bio-interna h2{
	font-family: 'Krub', sans-serif;
	font-size: 24px;
	letter-spacing: .02em;
	color: #000;
	font-weight: normal;
	line-height: 35px;
	margin: 60px 0 40px 0;
	text-align: center;
}

.bio-interna p{
	text-align: justify;
	padding-left: 0;
	padding-bottom: 20px;
	font-size: 18px;
	line-height: 25px;
	color: #000;
}

.bio-interna img{
	margin-top: 45px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: 40px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	transition: all 1.2s;
}

.bio-interna img:hover{
	box-shadow: 3px 4px 4px rgba(0, 0, 0, .6);
}

.bio-quebra{
	background: url("../img/quebra.jpg") no-repeat center;
	background-size: cover;
	color: #fff;
	text-shadow: 1px 1px #000;
	width: 100%;
	height: 180px;
	text-align: center;
	padding-top: 60px;
}

.bio-quebra p{
	font-size: 18px;
	line-height: 25px;
	padding-bottom: 10px;
}

.conheca-galeria{
	margin-top: 40px;
	background: #000;
	width: 100%;
	height: 230px;
	text-align: center;

	transition: background 1s ease;
}

.conheca-galeria:hover{
	background: #9b59b6;
}

.conheca-galeria h2{
	font-family: 'Krub', sans-serif;
	font-size: 24px;
	letter-spacing: .02em;
	color: #fff;
	font-weight: normal;
	line-height: 35px;
	margin: 50px 0 40px 0;
}

.conheca-galeria a{
	margin-bottom: 20px;
}

/* Corrossel */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


/* Página galeria.html */

/* Cores:
https://flatuicolors.com/palette/defo
Sun Flower: #f1c40f;
Amethyst: #9b59b6;
Silver: #bdc3c7;
*/

.galeria-interna{
	width: 100%;
	background: url("../img/capa-galeria.jpg") no-repeat center;
	background-size: cover;
	color: #fff;
	margin-top: 100px;
	height: 220px;
	text-align: center;
	padding-top: 90px;
}

.visite{
	text-align: center;
	height: 340px;
}

.visite h2{
	font-family: 'Krub', sans-serif;
	font-size: 24px;
	letter-spacing: .02em;
	color: #000;
	font-weight: normal;
	line-height: 35px;
	padding-top: 50px;
}

.visite p{
	text-align: justify;
	font-size: 18px;
	line-height: 25px;
	color: #000;
	padding: 20px 0 35px 0;
}

.galeria-apresenta{
	background: #bdc3c7;
	height: 870px;
	transition: background 1s ease;
}

.galeria-apresenta:hover{
	background: #9b59b6;
}

.moldura1{
	position: relative;
	background: #000;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	width: 820px;
	height: 200px;
	text-align: center;
	margin: 70px auto;
	transition: box-shadow 1.2s, background 3s ease;
}

.moldura1:hover{
	background: url("../img/capa-bio.jpg") no-repeat center;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, .6);
}

.moldura2{
	position: relative;
	background: #000;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	width: 820px;
	height: 200px;
	text-align: center;
	margin: 60px auto;
	transition: box-shadow 1.2s, background 3s ease;
}

.moldura2:hover{
	background: url("../img/capa-contato.jpg") no-repeat center;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, .6);
}

.moldura3{
	position: relative;
	background: #000;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);	
	width: 820px;
	height: 200px;
	text-align: center;
	margin: 60px auto;
	transition: box-shadow 1.2s, background 2s ease;
}

.moldura3:hover{
	background: url("../img/gravura.jpg") no-repeat center;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, .6);
}

.moldura1 h2, .moldura2 h2, .moldura3 h2{
	font-family: 'Krub', sans-serif;
	text-shadow: 1px 1px #000;
	font-size: 24px;
	letter-spacing: .02em;
	color: #fff;
	font-weight: normal;
	line-height: 35px;
	padding-top: 20px;
}

.moldura1 p, .moldura2 p, .moldura3 p{
	text-shadow: 1px 1px #000;
	font-size: 18px;
	color: #fff;
	padding: 5px 0 10px 0;
	margin-bottom: 20px;
}

.entre-contato{
	width: 100%;
	background: #fff;
	height: 240px;
	text-align: center;
}

.entre-contato h2{
	font-family: 'Krub', sans-serif;
	font-size: 24px;
	letter-spacing: .02em;
	color: #000;
	font-weight: normal;
	line-height: 35px;
	padding: 50px 0 40px 0;
}

/* desenho.html */
.apresentacao-galerias{
	padding-top: 130px;
	text-align: center;
	width: 100%;
	height: 230px;
}

.apresentacao-galerias h2{
	font-family: 'Krub', sans-serif;
	font-size: 24px;
	letter-spacing: .02em;
	color: #000;
}

.apresentacao-galerias p{
	padding-top: 20px;
	text-align: justify;
}

.principal-galeria{
	background: #000;
	width: 100%;
	height: 740px;
	margin-top: 100px;
	transition: background 1s ease;
}

.principal-galeria:hover{
	background: #9b59b6;
}

/* overlay w3 */
.auxiliar-overlay {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: 1s ease;
  opacity:0;
  color: #fff;
  font-family: 'Krub', sans-serif;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}

.auxiliar-overlay:hover .overlay {
  opacity: 1;
}

/* Código para slideshow da w3 */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container-galeria {
  position: relative;
  margin: 0 auto;
  padding-top: 60px;
  height: 700px;
  width: 700px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 5px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* Fim do código da Slide show da w3 */

.outras-galerias{
	width: 100%;
	height: 250px;
	text-align: center;
}

.outras-galerias h2{
	font-size: 24px;
	letter-spacing: .02em;
	text-align: center;
	padding-top: 35px;
	color: #000;
}

.outras-galerias p{
	padding-top: 15px;
	padding-bottom: 40px;	
	text-align: center;
}

.visite-pintura a{
	text-align: center;
}

/* Página contato.html */
.contato-interna{
	width: 100%;
	background: url("../img/capa-contato.jpg") no-repeat center;
	background-size: cover;
	color: #fff;
	background-size: cover;
	margin-top: 100px;
	height: 220px;
	text-align: center;
	padding-top: 90px;
}

/* Adaptável */

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 959px){

	/* Para testes APAGAR DEPOIS */
	.intro h1{
		color: blue;
	}

	.logo{
		margin-left: 100px;
	}

	.menu{
		margin-right: 100px;
	}

	/* index.html */
	.encontra-aqui{
		height: 540px;
		padding-top: 60px;
	}

	.bio img{
		margin-left: 60px;
	}

	/* bio.html */

	.classe-auxiliar-imagens{
		margin-top: 90px;
	}

	.classe-auxiliar-imagens2{
		margin-top: 60px;
	}

	.bio-interna p{
		padding-left: 0;
	}

	/* galeria.html */
	.visite h2{
		padding-top: 30px;
	}

	.moldura1, .moldura2, .moldura3{
		width: 600px;
		height: 200px;
	}

}

/* Smartphone */
@media only screen and (max-width: 767px){

	/* Para testes APAGAR DEPOIS */
	.intro h1{
		color: red;
	}

	.logo{
		margin-left: 40px;
	}

	.cabecalho{
		position: absolute;
	}

	/* Hamburger Menu */
	label{
		display: block;
		margin-right: 40px;
		margin-top: 15px;
		background-color: #fff;
		cursor: pointer;
	}

	.menu{
		margin: 0 auto;
		text-align: center;
		width: 100%;
		background: rgba(0, 0, 0, 0.8);
		padding: 31px 0;
		display: none;
	}

	.menu ul li{
		display: block;
	}

	.menu ul li a{
		text-align: center;
	}

	#toggle:checked + .menu{
		display: block;
	}

	/* index.html */
	.intro h1{
		font-size: 24px;
	}

	.bio h2{
		font-size: 18px;
	}

	.bio p{
		font-size: 14px;
	}

	.bio img{
		display: none;
	}

	.encontra-aqui{
		height: 840px;
	}

	.encontra-aqui h2{
		font-size: 18px;
		margin-top: 40px;
	}

	.encontra-aqui p{
		font-size: 14px;
	}

	.rodape{
		height: 240px;
		text-align: center;
	}

	/* bio.html */
	.classe-auxiliar-imagens2{
		display: none;
	}

	.bio-capa p{
		padding-left: 0;
		padding-bottom: 10px;
	}

	.bio-interna{
		margin-bottom: 40px;
	}

	.bio-interna h2{
		font-size: 18px;
		line-height: 35px;
		margin: 40px 0;
		text-align: center;
	}

	.bio-interna p{
		font-size: 14px;
	}

	.bio-interna img{
		width: 80%;
		padding-left: 20px;
	}

	.bio-quebra p{
		font-size: 14px;
	}

	.conheca-galeria{
		margin-top: 40px;
	}

	.conheca-galeria h2{
		font-size: 18px;
		line-height: 35px;
		margin: 35px 0 40px 0;
	}

	/*galeria.html*/

	.visite{
		height: 360px;
	}

	.visite h2{
		font-size: 18px;
	}

	.visite p{
		font-size: 12px;
	}

	.galeria-apresenta{
		height: 800px;
	}

	.moldura1, .moldura2, .moldura3{
		width: 300px;
		height: 190px;
	}

	.moldura h2{
		font-size: 18px;
	}

	.moldura p{
		font-size: 12px;
	}

	.entre-contato h2{
		font-size: 18px;
	}

}

/* Animações */
/* Menu - Adaptável */
.js .menu{
	opacity: 0;
}

/* Home & Bio */
.js .cabecalho,.js .intro,.js .intro img, .js .intro h1, .js .bio h2, .js .bio p, .js .bio img, .js .bio a, .js .encontra-aqui h2, .js .encontra-aqui p, .js .encontra-aqui img, .js .encontra-aqui a,.js .bio-capa, .js .bio-interna h2, .js .bio-interna p, .js .bio-interna img, .js .conheca-galeria h2, .js .conheca-galeria a, .js .bio-quebra blockquote{
	opacity: 0;
}
/* Galeria */
.js .galeria-interna,.js .quebra-auxiliar, .js .visite h2, .js .visite p, .js .galeria-apresenta, .js .entre-contato{
	opacity: 0;
}

/* Galerias internas */
.js .apresentacao-galerias, .js .principal-galeria, .js .outras-galerias{
	opacity: 0;
}

/* Contato */
.js .contato-interna{
	opacity: 0;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* Fim das animações */
